services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'

  backend:
      build:
        context: ./backend
        dockerfile: Dockerfile  # dockerfile to create springboot backend container
      image: springboot-backend:latest
      environment:
        - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mydatabase
        - SPRING_DATASOURCE_USERNAME=myuser
        - SPRING_DATASOURCE_PASSWORD=secret
      depends_on:
        - postgres
      ports:
        - '8080:8080'